<div class="btn-group-vertical">
    <button type="button" class="activity-bar-item btn btn-secondary rounded-0"><fa-icon [icon]="faFile"></fa-icon></button>
    <button type="button" class="activity-bar-item btn btn-secondary rounded-0"><fa-icon [icon]="faCode"></fa-icon></button>
    <button type="button" class="activity-bar-item btn btn-secondary rounded-0"><fa-icon [icon]="faCodeBranch"></fa-icon></button>
    
    <button type="button" class="activity-bar-item btn btn-secondary rounded-0"><fa-icon [icon]="faChartLine"></fa-icon></button>

</div>
